/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file for RNA-seq
 * -------------------------------------------------
 */


profiles {

    local {

        includeConfig 'conf/local.config'
    }

    cluster {

    	includeConfig 'conf/cluster.config'        
    }
}

singularity {
    enabled = true
    autoMounts = true
}