


profiles {

    standard {
        process.cpus = 2
    }

    cluster {
        process.cpus = 6
    }

}




// container parameter for process 

process.$buildIndex.container = 'singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
process.$build_transcriptome_index.container = 'singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
process.$mapping.container = 'singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
process.$fastQC.container = 'singularity/fastqc/0.11.5/chdem_fastqc_0.11.5-2017-05-18-0d152b9b8bff.img'
process.$count.container = '/home/jp/singularity/subread/subread-1.5.3.img'

// parameter singularity
singularity.enabled = true 
singularity.autoMounts = true