
process {

    executor='slurm'
    queue='head'
            
    $buildIndex{
    	cpus = 1
    	memory = 22.GB
    	container = '/mdrun10/singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
	}
    $buildTranscriptomeIndex{
    	cpus = 1
    	memory = 22.GB
    	container = '/mdrun10/singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
    }
    $fastQC{
    	cpus = 2
    	memory = 4.GB
    	container = '/mdrun10/singularity/fastqc/fastqc-2017-08-25-e0eca25fea61.img'
	}
    $count{
    	cpus = 4
    	memory = 4.GB
    	container = '/mdrun10/singularity/subread/subread-1.5.3.img'
	}

	$mapping {
        cpus = 8
        memory = 11.GB
        container = '/mdrun10/singularity/tophat2/tophat2-2017-08-03-fc9f5428bc36.img'
    }
}
