



process {


            
    $buildIndex{
    	cpus = 1
    	memory = 7.GB
    	container = '/home/jp/singularity/tophat2/tophat2-2.1.1.img'
	}
    $buildTranscriptomeIndex{
    	cpus = 1
    	memory = 7.GB
    	container = '/home/jp/singularity/tophat2/tophat2-2.1.1.img'
    }
    $fastQC{
    	cpus = 2
    	memory = 3.GB
    	container = '/home/jp/singularity/fastqc/0.11.5/fastqc-2017-08-25-e0eca25fea61.img'
	}
    $count{
    	cpus = 2
    	memory = 3.GB
    	container = '/home/jp/singularity/subread/subread-1.5.3.img'
	}

	$mapping {
        cpus = 4
        memory = 6.GB
        container = '/home/jp/singularity/tophat2/tophat2-2.1.1.img'
    }
}

